h1 {
    background-color: #f6ae50; 
    color: rgb(238, 14, 14); 
    padding: 2px; 
    text-align: center; 
    text-decoration: none;
    

}
h1 :hover{
    cursor: pointer;
    color: hsl(24, 100%, 50%);
    text-decoration: none; 
}

.header-container {
    background-color:#f6ae50 ;
    color: white;  
    text-align: right;
    
}
a{
    text-decoration: none;
    color: rgb(3, 0, 0);
}
nav ul {
    list-style: none;
    padding: 0;
    background-color: #f6ae50; 
}

nav ul li {
    display: inline;
    margin: 0px 50px;
    font-size: 18px;

}

nav ul li a {
    text-decoration: none;
    color: hsl(0, 0%, 0%);
    font-weight: bold;
}
nav ul li a:hover {
    color: hsl(24, 100%, 50%); 

}
#heading{
    margin-top: -2px;
    
    font: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    font-variant: small-caps;
    font-size: 50px;
}
body, html {
    margin: 0;
    padding: 0;
}
.icons{
    display: grid;

}
.icons a{
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center; 
    text-decoration: none;
    margin: 0 5px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    display: block;
    transition: transform 0.5s;
}

.icons a:hover{
    transform: translateY(-3px);

}
.icons .twitter a{
    color: rgb(94, 156, 244);
}
.icons .facebook a{
    color: rgb(7, 7, 139);
}
.icons .youtube a{
    color: #e91010;
}
.icons .insta a{
    color: rgb(215, 106, 125);
}

.linkers{
    display: flex;
}
.bottom{
    
    background-color: #565656;
    font-size: 20px;
    border-radius: 10px;
    margin: 1%;
    padding-top: 0%;
    padding-bottom: 10px;

    margin-top: 2%;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    
}
.bottom h4{
    color: #ffffff;
}


.foot{
color: #ffffff;
font-size: 15px;

}
.foot a:hover{
color: hsl(24, 100%, 50%);
}

.apps {
display: grid;

}
.applications{
display: grid;
margin-right: 100px;
}
.play{
margin-top: 20px;
color: rgb(51, 104, 126);
margin-bottom: 20px;
font-size: 28px;
margin-right: 20px;

}
.app{
color: rgb(0, 119, 255);
font-size: 28px;
margin-right: 20px;
}
.follows{
color: white;
}
.payment{
color:white;
}
.application{
color: #ffffff;
}
.visa{
font-size: 28px;
margin-left: 35px;
margin-bottom: 35px;
}
.master{
font-size: 28px;
margin-left: 35px;
}
.intro{
    font-size: 17px;
    text-align: justify;
    margin-left: 2%;
    margin-top: 2%;

}
.dairyhead{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 27%;
    text-align: center;
    margin-right: 27%;
    margin-top: 4%;
    margin-bottom: -1%;
    color: #4c4c4c;
    background-color: #0091f96d;
    border-radius: 10px;
  
 
}
.about p{
    font-size: 22px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 20px;
    margin-top: 20px;

 
}
.main-image{
    position: relative;
    display: inline-block;
    margin-top: 30px;
    
}
.text{
    position: absolute;
    top: 18%;
    text-align: center;
    color: hsl(201, 67%, 94%);
 
    left: 10%;
    right: 10%;
    border-radius: 30px;
    font-stretch: ultra-expanded;
    font-size: 80px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
    background-color: #0b568bce;
    padding: 10px; 
}
.about ul{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

.about{
    
    background-color:#0091f96d ;
    color: rgb(23, 23, 103);
    margin-right: 2%;
    border-radius:20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 4%;
    padding-left: 10px;
    padding-right: 10px;
}
.cheese{
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 27%;
    text-align: center;
    margin-right: 27%;
    margin-top: 4%;
    margin-bottom: -1%;
    color: #f4ededc3;
    background-color: #3a3434a2;
    border-radius: 10px;
  
 
}
.intro h2{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 27%;
    text-align: center;
    margin-right: 27%;
    margin-top: 4%;
    margin-bottom: 2%;
    color: #dddcdcc3;
    background-color: #3a3434a2;
    border-radius: 10px;
}

.product-container {
    text-align: center; 
    
}
.item-box{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
    margin-left: 2%;
}
.product {
    display:grid; 
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 2px;
    width: 300px;
    height: auto;
    margin: 15px 20px; 
    text-align: center;
    cursor: pointer;
    
    
}

.product img {

    margin-bottom: 2px;
    width: 200px;
    height: auto;
   
    
    
}
.product :hover{
    border: 1px solid  #ffffff;
    
}


.product h3 {
    margin-bottom: 1px;
    margin-top: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.product p {
    margin-bottom: 5px;
}

.product button {
    background-color: #007bff;
    width: 100px;
    color: white;
    padding: 10px 1px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}