h1 {
    background-color: #f6ae50; 
    color: rgb(238, 14, 14); 
    padding: 1%; 
    text-align: center; 
    text-decoration: none;
  
    

}
h1 :hover{
    cursor: pointer;
    color: hsl(24, 100%, 50%);
    text-decoration: none; 
}

.header-container {
   
    color: white;  
    text-align: right;
    width: 100%;
    
}
a{
    text-decoration: none;
    color: rgb(3, 0, 0);
}
#heading{
    margin-top: -2px;
    
    font: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    font-variant: small-caps;
    font-size: 280%;
}

.form-group {
    margin-bottom: 4%;
  }
  label {
    display: block;
    margin-bottom: 2%;
    margin-top: 2%;
  }
  input, select {
    width: 100%;
    padding: 1.25%;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  button {
    background-color: #4CAF50;
    color: white;
    padding: 2% 1%;
    border: none;
    margin-top: 10%;
    margin-bottom: 5%;
    margin-left: 90%;
    border-radius: 3px;
    cursor: pointer;
    
  }

  .container {
    margin-top:4%;
    max-width: 800px;
    margin-left: 20% ;
    padding: 30px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin-bottom: -1%;
    background-color: #ffffff;
  }
  .message{
    color: rgb(11, 80, 24);
    font-size: 20px;
    margin-left: 20%;
    margin-bottom: 3%;
  }
  .container h1{
    background-color: #0056b3;
    color: #f6ae50;
    border-radius: 20px;
  }
  .container h2{
    color: #0056b3;
    margin-top: 2%;
  }
  .btn:hover{
    background-color: #3e8e41;
}
.linkers{
    display: flex;
}
.bottom{
    
    background-color: #565656;
    font-size: 20px;
    border-radius: 10px;
    margin: 1%;
    padding-top: 0%;
    padding-bottom: 10px;
    width: 100%;

    margin-top:3%;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    
}

.bottom h4{
    color: #ffffff;
}
.form-group {
    margin-bottom: 4%;
  }
  nav ul {
    list-style: none;
    padding: 0;
    background-color: #f6ae50; 
}
.navlist{
    width: 100%;
}
nav ul li {
    display: inline;
    margin: 0px 50px;
    font-size: 18px;

}

nav ul li a {
    text-decoration: none;
    color: hsl(0, 0%, 0%);
    font-weight: bold;
}
nav ul li a:hover {
    color: hsl(24, 100%, 50%); 

}


.foot{
color: #ffffff;
font-size: 15px;

}
.foot a:hover{
color: hsl(24, 100%, 50%);
}

.apps {
display: grid;

}
.applications{
display: grid;
margin-right: 100px;
}
.play{
margin-top: 20px;
color: rgb(51, 104, 126);
margin-bottom: 20px;
font-size: 28px;
margin-right: 20px;

}
.app{
color: rgb(0, 119, 255);
font-size: 28px;
margin-right: 20px;
}
.follows{
color: white;
}
.payment{
color:white;
}
.application{
color: #ffffff;
}
.visa{
font-size: 28px;
margin-left: 35px;
margin-bottom: 35px;
}
.master{
font-size: 28px;
margin-left: 35px;
}
.icons{
    display:grid;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    border: 1px solid #565656; 
    margin-bottom: -2%;
    padding: 10px;
    font-size: 15px;

}
.icons a{
    
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center; 
    text-decoration: none;
    margin: 0 5px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    display: block;
    transition: transform 0.5s;
}

.icons a:hover{
    transform: translateY(-3px);

}
.icons .twitter a{
    color: rgb(94, 156, 244);
}
.icons .facebook a{
    color: rgb(7, 7, 139);
}
.icons .youtube a{
    color: #e91010;
}
.icons .insta a{
    color: rgb(215, 106, 125);
}
.copyright-icons{
    color: #000000;
}
.payment{
    display: flex;
}
.usfulls{
    display: flex;
}
.follows{
    display: grid;
}
body, html {
    margin: 0;
    padding: 0;
}
